/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    background: black;
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
    padding: 6px;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

.flex-container input {
    align-items: center;
    margin-left: 10px;
}


.flex-container h2 {
    margin-right: 10px;
    margin-left: 10px;
}

.cliente-parceiro {
    display: flex;
    align-items: center; /* Alinhar verticalmente os elementos dentro da div "cliente-parceiro" */
}

h3 {
    font-size: 16px;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

/* Estilos específicos para a classe 'linhas' */
.linhas {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.linhas > div {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Aumenta o espaço entre os checkboxes e rótulos */
.linhas input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.linhas label {
    width: 150px; /* Ajuste conforme necessário */
    font-size: 14px;
    margin-left: 10px;
    margin-right: 50px; /* Aumenta a margem direita */
    vertical-align: middle;
}

/* Estilize o checkbox quando ele estiver marcado (cor preta) */
input[type="checkbox"]:checked {
    filter: invert(1); /* Inverte as cores para preto */
}


.observacoes 
h3, 
textarea {
    margin-left: 10px;
}

.row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.projetista {
    margin-left: 10px;
    display: flex;
    align-items: center; /* Alinhar verticalmente os elementos dentro da div "cliente-parceiro" */
}

.trello {
    margin-left: 200px;
}

#responsavel,
#data {
    margin-left: 10px;
}

.button {
    background-color: black;
    color: #fca400;
    cursor: pointer;
    float: right;
    margin-right: 60px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0.5px #363940;
    border: none;
    padding: 10px;
}

.button:hover {
    background-color: rgb(14, 14, 14);
}



@media print {
    h1 {
        color: black;
    }
    
    .button {
        display: none; /* Oculta o elemento <h3> durante a impressão */
    }

    .row {
        display: flex; /* Use display: flex para posicionar lado a lado */
        position: fixed;
        bottom: 0;
        width: 100%;
    }    
}



/* Outros estilos para as outras seções (Projetista, Financeiro, Responsável de Produção) */
/* Adicione estilos conforme necessário */